{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="index-title indigo accent-1">Car Details</h1>


<div class="card">
  <div class="card-content">
    <span class="card-title">{{ car.make }}</span><img class="responsive-img" src="{{car.link}}" alt=""/>
    <p>Color: {{ car.color }}</p>
    <p>Model: {{ car.model }}</p>
    {% if 1980 > car.year %}
    <p>Year: {{ car.year }} Classic</p>
    {% else %}
    <p>Year: New</p>
    {% endif %}
  </div>
</div>

<div class="card-action">
    <a href="{% url 'cars_update' car.id%}">Edit</a>
    <a href="{% url 'cars_delete' car.id%}">Delete</a>
</div>


{% endblock %}