{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="index-title indigo accent-1">The Car Collection</h1>

{% for car in cars %}
<div class="card-div">
  <a href="/cars/{{ car.id }}">
  <div class="card col s8">
    <div class="card-content imgdiv">
      <span class="card-title">{{ car.make }}</span><img class="responsive-img" src="{% static 'car/images/'%}{{car.make}}.png">
      <p>Color: {{ car.color }}</p>
      <p>Model: {{ car.model }}</p>
      {% if 1980 > car.year %}
        <p>Year: {{ car.year }} Classic</p>
      {% else %}
        <p>Year: New</p>
      {% endif %}
    </div>
  </div>
  </a>
</div>
{% endfor %}

{% endblock %}