<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Collector</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1 class="index-title indigo accent-1">About the Car Collector</h1>
    <hr />
    <p class="index-title">Hire the Car Collector!</p>
    <div class="about-img-div">
    <img class="about-img" src="https://media.architecturaldigest.com/photos/56c3aa3a0566de906397280a/4:3/w_3372,h_2529,c_limit/Classic-Car-Collecting-03.jpg" alt="class-car-garage">
    </div>
    {% endblock %}
    <footer>All Rights Reserved, &copy; 2023 Car Collector</footer>
</body>
</html>